<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ycu.edu.ygc.mapper.CategoriesMapper">

    <resultMap id="BaseResultMap" type="ycu.edu.ygc.pojo.entity.Categories">
            <id property="categoryId" column="category_id" jdbcType="INTEGER"/>
            <id property="categoryName" column="category_name" jdbcType="VARCHAR"/>
            <result property="categoryEnabled" column="category_enabled" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        category_id,category_name,category_enabled
    </sql>
</mapper>
