<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ycu.edu.ygc.mapper.GoodsStoragesMapper">

    <resultMap id="BaseResultMap" type="ycu.edu.ygc.pojo.entity.GoodsStorages">
            <id property="gId" column="g_id" jdbcType="INTEGER"/>
            <id property="sId" column="s_id" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        g_id,s_id
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from goods_storages
        where  g_id = #{gId,jdbcType=INTEGER} AND s_id = #{sId,jdbcType=INTEGER}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from goods_storages
        where  g_id = #{gId,jdbcType=INTEGER} AND s_id = #{sId,jdbcType=INTEGER}
    </delete>
    <insert id="insert">
        insert into goods_storages
        ( g_id,s_id)
        values (#{gId,jdbcType=INTEGER},#{sId,jdbcType=INTEGER})
    </insert>
    <insert id="insertSelective">
        insert into goods_storages
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="gId != null">g_id,</if>
                <if test="sId != null">s_id,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="gId != null">#{gId,jdbcType=INTEGER},</if>
                <if test="sId != null">#{sId,jdbcType=INTEGER},</if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="ycu.edu.ygc.pojo.entity.GoodsStorages">
        update goods_storages
        <set>
        </set>
        where   g_id = #{gId,jdbcType=INTEGER} AND s_id = #{sId,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="ycu.edu.ygc.pojo.entity.GoodsStorages">
        update goods_storages
        set
        where   g_id = #{gId,jdbcType=INTEGER} AND s_id = #{sId,jdbcType=INTEGER}
    </update>
</mapper>
