<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ycu.edu.ygc.mapper.MessagesMapper">

    <resultMap id="BaseResultMap" type="ycu.edu.ygc.pojo.entity.Messages">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="detail" column="detail" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,detail
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from messages
        where  id = #{id,jdbcType=INTEGER}
    </select>
    <select id="list" resultType="ycu.edu.ygc.pojo.entity.Messages">
        select * from messages
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from messages
        where  id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="ycu.edu.ygc.pojo.entity.Messages" useGeneratedKeys="true">
        insert into messages
        ( id,detail)
        values (null,#{detail,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="ycu.edu.ygc.pojo.entity.Messages" useGeneratedKeys="true">
        insert into messages
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="id != null">id,</if>
                <if test="detail != null">detail,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="id != null">#{id,jdbcType=INTEGER},</if>
                <if test="detail != null">#{detail,jdbcType=VARCHAR},</if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="ycu.edu.ygc.pojo.entity.Messages">
        update messages
        <set>
                <if test="detail != null">
                    detail = #{detail,jdbcType=VARCHAR},
                </if>
        </set>
        where   id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="ycu.edu.ygc.pojo.entity.Messages">
        update messages
        set
            detail =  #{detail,jdbcType=VARCHAR}
        where   id = #{id,jdbcType=INTEGER}
    </update>
</mapper>
